

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [1]:
liste = list()

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [4]:
liste5=[1,2,3,4,5,6]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [5]:
len(liste5)

6

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [9]:
print(liste5[0])
print(liste5[int(len(liste5)/2)])
print(liste5[-1])

1
4
6

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [11]:
mixed_data_types=["Bakhoum",28, 1.62 ,"Single","Fatick"]
print(mixed_data_types)

['Bakhoum', 28, 1.62, 'Single', 'Fatick']

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

In [18]:





it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies[-2]="maman_service"
print(it_companies)


it_companies.append("Informatic_computing")
print(it_companies)


it_companies.insert(int(len(it_companies)/2)+1, "BAKHBADE")
print(it_companies)

maj=it_companies[2].upper()
print(maj)



it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
maj="# ;".join(it_companies)
print(maj)


it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
if "Apple" in it_companies:
 print("Apple is around")
else:
 print("Apple is not around")


it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.sort()
print(it_companies)


it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.reverse()
print(it_companies)


it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[0:3]
print(it_companies)


it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[-3:]
print(it_companies)


it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[int(len(it_companies)/2)]
print(it_companies)



it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[0]
print(it_companies)


del it_companies[int(len(it_companies)/2)]
print(it_companies)



del it_companies[-1]
print(it_companies)


del it_companies[0:]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Facebook Apple Amazon
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'maman_service', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'maman_service', 'Amazon', 'Informatic_computing']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'BAKHBADE', 'maman_service', 'Amazon', 'Informatic_computing']
MICROSOFT
Facebook# ;Google# ;Microsoft# ;Apple# ;IBM# ;Oracle# ;Amazon
Apple is around
['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']
['Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Google', 'Facebook']
['Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Apple']
['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']
['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Google', 'Microsoft', 'Apple', 'Oracle', 'Amazon']
['Google', 'Microsoft', 'Apple', 'Oracle']
[]
[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [20]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [25]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages[0],ages[-1])

     #1.Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.

ages.extend([19,26])
print(ages)

     #2.Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
print(ages[int(len(ages)/2)])

      #3.Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
for i in range(len(ages)):
   ages.append(ages[i])
   x=sum(ages)
   print(int(x/len(ages)))
    
    #4.Trouver l'intervalle des √¢ges (max moins min)
ages.sort()
print(ages[-1],ages[0])

      #5.Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().
import math
minmoy=19-22
maxmoy=26-22
abs(minmoy-maxmoy)

19 26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
24
22
22
22
22
22
22
22
22
22
22
22
22
26 19

7


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

In [8]:

#


#
#['Analysis', "Capacit√© d'adaptation", 'Cr√©ativit√©', 'Leadership'] <class 'list'>
#



#dict_keys(['prenom', 'nom', 'sexe', 'age', 'etat civil', 'competences', 'Pays', 'ville','adresse'])

#dict_values(['Leontine ', 'Bakhoum', 'F', 28, 'celibataire', ['Statistic', "Capacit√© d'adaptation", 'Prise de d√©cision'], 'Senegal','Fatick', 'diam laye'])

#dict_items([('prenom', 'Leontine'), ('nom', 'Bakhoum'), ('sexe', 'F'), ('age', 28), ('etat civil', 'celibataire'), ('competences', ['Statistical', "Capacit√© d'adaptation", 'Prise de d√©cision'], [('Pays', 'senegal'), ('ville','Fatick'), ('adresse', 'diam laye')])

   #{'prenom': 'Leontine', 'Nom': 'Bakhoum', 'sexe': 'F, 'age': 28, 'etat civil':'celibataire', 'Pays': 'Senegal', 'ville': 'Fatick', 'adresse': 'diam laye'}

{'name': 'Leontine', 'couleur': 'blue', 'race': 'noire', 'pattes': 2, 'ages': 28}
{'prenom': 'Leontine', 'nom': 'Bakhoum', 'sexe': 'F', 'age': 28, 'etat civil': 'celibataire', 'competences': ['Statistic', "Capacit√© d'adaptation", 'Cr√©ativit√©'], 'Pays': 'senegal', 'ville': 'Fatick', 'adresse': 'diam laye'}
9
['Statistic', "Capacit√© d'adaptation", 'Cr√©ativit√©'] <class 'list'>
['Statistic', "Capacit√© d'adaptation", 'Cr√©ativit√©', 'Prise de d√©cision']
dict_keys(['prenom', 'nom', 'sexe', 'age', 'etat civil', 'competences', 'Pays', 'ville', 'adresse'])
dict_values(['Leontine', 'Bakhoum', 'F', 28, 'celibataire', ['Statistic', "Capacit√© d'adaptation", 'Cr√©ativit√©', 'Prise de d√©cision'], 'senegal', 'Fatick', 'diam laye'])
{'prenom': 'Leontine', 'nom': 'Bakhoum', 'sexe': 'F', 'age': 28, 'etat civil': 'celibataire', 'Pays': 'Senegal', 'ville': 'Fatick', 'adresse': 'diam laye'}
[{'name': 'Leontine', 'couleur': 'blue', 'race': 'noire', 'pattes': 2, 'ages': 28}, {'prenom': 'Leontine', 'nom': 'Bakhoum', 'sexe': 'F', 'age': 28, 'etat civil': 'celibataire', 'Pays': 'Senegal', 'ville': 'Fatick', 'adresse': 'diam laye'}]
[{'prenom': 'Leontine', 'nom': 'Bakhoum', 'sexe': 'F', 'age': 28, 'etat civil': 'celibataire', 'Pays': 'Senegal', 'ville': 'Fatick', 'adresse': 'diam laye'}]

In [ ]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies)

In [ ]:
print(it_companies[0], it_companies[int(len(it_companies)/2)], it_companies[-1])

In [ ]:
#1. Cr√©er un dictionnaire vide appel√© dog
dog={}
#1. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
dog["name"]="Leontine"
dog["couleur"]="blue"
dog["race"]="noire"
dog["pattes"]=2
dog["ages"]=28
print(dog)

In [ ]:
1. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la
#ville et l'adresse comme cl√©s pour le dictionnaire.
student={"prenom":"Leontine","nom":"Bakhoum","sexe":"F","age":28,"etat civil":"celibataire","competences":["Statistic","Capacit√© d'adaptation","Cr√©ativit√©"],"Pays":"senegal","ville":"Fatick","adresse":"diam laye"}
print(student)

In [ ]:
#1. Obtenez la longueur du dictionnaire student
print(len(student))

In [ ]:
#5.R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
print(student["competences"],type(student["competences"]))#

In [ ]:
#10. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
student["competences"].extend(["Prise de d√©cision"])
print(student["competences"])

In [ ]:
#10. Obtenez les cl√©s du dictionnaire sous forme de liste
print(student.keys())

In [ ]:
#12. Obtenir les valeurs du dictionnaire sous forme de liste
print(student.values())

In [ ]:
#Result=[*front_end,*back_end]
front_end.extend(back_end)
print(front_end)

In [ ]:
#13. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
student.items()

In [ ]:
#14. Supprimer un des √©l√©ments du dictionnaire
student={"prenom":"Leontine","nom":"Bakhoum","sexe":"F","age":28,"etat civil":"celibataire","competences":['Statistical', "Capacit√© d'adaptation", 'Prise de d√©cision'], "Pays":"Senegal", "ville":"Fatick", "adresse":"diam laye"}
del student["competences"]
print(student)

In [ ]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.clear()
print(it_companies)

In [ ]:
#15. Supprimer un des dictionnaires
L=[dog,student]
print(L)
L.remove(dog)
print(L)

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>