<center>
    <a href="https://www.aims-senegal.org/" ><img src="aimssn_logo.png" style="float:center; max-width: 600px; display: inline" alt="IMSP"/> </a>
    </center>
    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Practicals: Variables, Types & Operations </span> </b></center>

**Exercise 00:**  

> 1. Declare a variable `firstname` and assign it a value.
> 2. Declare a `lastname` variable and assign a value to it.
> 3. Declare a `full_name` variable and assign it a value.
> 4. Declare a `country` variable and assign it a value.
> 5. Declare a variable `city` and assign it a value.
> 6. Declare a `age` variable and assign it a value.
> 7. Declare a variable `year` and assign it a value.
> 8. Declare a variable `is_marrie` and assign it a value.
> 9. Declare a variable `is_true` and assign it a value.

> For each of the above variable, display the value it contains using the `print()` function.

In [8]:
firstname="Siny"
print(firstname)
lastname="Diaw"
print(lastname)
full_name="Siny Diaw"
print(full_name)
country="Senegal"
print(country)
city="Dakar"
print(city)
age=17
print(age)
year=2004
print(year)
is_marrie="yes"
print(is_marrie)
is_true=1is_marrie
print(is_true)

Siny
Diaw
Siny Diaw
Senegal
Dakar
17
2004
yes
1

**Exercise 01:** 
> Check the data type of all your variables using the built-in function `type()`.**

In [18]:
type(firstname)

str

In [17]:
type(lastname)

str

In [21]:
type(full_name)

str

In [23]:
type(country)

str

In [24]:
type(city)

str

In [25]:
type(age)

int

In [26]:
type(year)

int

In [27]:
type(is_marrie)

str

In [28]:
type(is_true)

int

**Exercise 02:** 
> Calculate the value of $y$ ($y = x^2 + 6x + 9$). Try using different values of $x$ and determine at what value of $x$ will $y$ be equal to 0.**

In [33]:
x = float(-3)
y = x**2+6*x+9
print(y)

0.0

**Exercise 03:** 
>    
     1. Declare your age as an integer variable
     2. Declare your height as a float variable
     3. Declare a variable that stores the base and height of a triangle. Calculate the area of this triangle (area = 0.5 x b x h).

In [36]:
age=17
print(age)
height=1.71
print(height)
b=12
h=3.5
stokes=(b,h)
print(stokes)
area=0.5*b*h
print(area)

17
1.71
(12, 3.5)
21.0

## *Tip: receiving input from the user *
**To receive an input from the user, we use `input()`.**.

**Example**
Receive two numbers as input from the user and calculate their power:
```python
base = input("Enter a base: ")
exponent = input("Enter an exponent: ")
result = float(base) ** float(exponent)
print(f "{base} to the power of {exponent} = {result}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [39]:
a=input("Entrer the side a :")
b=input("Entrer the side b :")
c=input("Entrer the side c :")
perimeter = float(a) + float(b) + float(c)
print(perimeter)

Entrer the side a :2
Entrer the side b :3
Entrer the side c :5
10.0

**Exercise 05:** 
> **Obtain the length and width of a rectangle using the prompt. Calculate its `area`and its `perimeter`.**

In [47]:
L=input("Enter one value of length: ")
print(L)
l=input("Enter one value of width: ")
print(l)
area=float(L)*float(l)
print(area)
perimeter=(float(L)+float(l))*2
print(perimeter)

Enter one value of length: 7
7
Enter one value of width: 2
2
14.0
18.0

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonférence (c = 2 x pi x r) où pi = 3,14.**

In [48]:
r=input("Donner le rayon du cercle: ")
print(r)
pi=3.14
aire= float(pi)*float(r)*float(r)
print(aire)
circonférence=2*float(pi)*float(r)
print(circonférence)

Donner le rayon du cercle: 5
5
78.5
31.400000000000002

**Exercice 07:**
> **Calculez la pente, l'ordonnée à l'origine en x et l'ordonnée à l'origine en $y$ de $y = 2x -2$.**

In [ ]:
pente=2
print(pente)

ordonnée en x=

**Exercice 08:** 
> **Rédigez un script qui demande à l'utilisateur d'entrer les heures et le taux horaire. Calculez la rémunération de la personne ?**

In [55]:
h=input("Veuillez entrer le nombre d'heures de travail: ")
Th=input("Veuillez entrer le taux horaire de travail: ")
R=float(h)*float(Th)
print( "La remunération de la personne est:" )
print(R)

Veuillez entrer le nombre d'heures de travail: 15
Veuillez entrer le taux horaire de travail: 1000
La remunération de la personne est:
15000.0

**Exercice 09:** 
> **Écrivez un script qui demande à l'utilisateur d'entrer le nombre d'années. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [59]:
Na=input("Veuillez entrer le nombre d'année: ")
Ns=31536000*float(Na)
print("Le nombre d'année qu'une personne peut survivre est: ")
print(Ns)

Veuillez entrer le nombre d'année: 100
Le nombre d'année qu'une personne peut survivre est:
3153600000.0

**Exercice 10:** 
> **Écrivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [67]:
print(1, 1, 1, 1, 1)
print()
print(2, 1, 2, 4, 8)
print()
print(1, 1, 1, 1, 1)
print()
print(3, 1, 3, 9, 27)
print()
print(4, 1, 4, 16, 64)
print()
print(5, 1, 5, 25, 125 )

1 1 1 1 1

2 1 2 4 8

1 1 1 1 1

3 1 3 9 27

4 1 4 16 64

5 1 5 25 125

**Exercise 11:** 
>**Assign the variables `time` and `distance` with the values $6.892$ and $19.7$. Calculate and display the value of the speed. Improve the display by imposing a digit after the decimal point.**

In [75]:
time=6.892
distance=19.7
speed=float(distance)/float(time)
print("The value of the speed is : ")
print("%.1f" %speed)

The value of the speed is :
2.9

**Exercice 12:** 
> **Écrire un programme qui, à partir de la saisie d’un rayon et d’une hauteur, calcule levolume d’un cône droit.**

In [2]:
r=input("saisissez la valeur du rayon: ")
h=input("saisissez la valeur d'une hauteur: ")
pi=3.14
volume=(float(pi)*float(r)**2*float(h))/3
print(volume)

saisissez la valeur du rayon: 2
saisissez la valeur d'une hauteur: 3
12.56

**Exercise 13:** 
> **The user gives a positive integer and the program announces how many times in a row this integer is divisible by 2.**

In [4]:
n=int(input("donner un nombre positve: "))
if n%2 != 0:
    print("n'est pas divisible par 2")
else :
    for i in range(0, n):
        if 2*i == n:
            print(i)

donner un nombre positve: 7
n'est pas divisible par 2

**Exercise 14:** 
>**The user gives an integer between 2 and 12, the program gives the number of ways to do this by rolling two dice.

In [6]:
n = int(input("entrer un nombre"))
if n >=2 and n <=12:
    print(n)
else:
    print("entrer un nombre compris entre 2 et 12")
d1 =[1,2,3,4,5,6]
d2 =[1,2,3,4,5,6]
for i in range (0, len(d2)):
    for j in range (0, len(d2)):
        d = d1[i]+ d2[j]
    if d == n :
        print (d1[i], d2[j])

entrer un nombre8
8
2 6

**Exercice 15:** 
> **Utilisez la fonction d'entrée intégrée `input()` pour obtenir le `_prénom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [2]:
Prénom=input("Donnez le prénom: ")
Nom=input("Donnez le nom: ")
Pays_d_origine=input("Donnez le pays d'origine de l'utilisateur: ")
Age=input("Donner l'age: ")

Donnez le prénom: Awa
Donnez le nom: Diaw
Donnez le pays d'origine de l'utilisateur: Sénégal
Donner l'age: 28

**Exercice 16:** 

**Déclarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur à une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur à une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur à une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur à une variable `division`.
   5. Calculez `num_one` à la puissance de `num_two` et attribuez la valeur à une variable `exp`.

In [3]:
num_one=5
num_two=4
print(num_one + num_two)  
print('------------------------')


print(num_one - num_two)
print('------------------------')

print(num_one/ num_two) 
print('------------------------')


print(num_one % num_two)  
print('------------------------')

print(num_one** num_two)
print('------------------------')

9
------------------------
1
------------------------
1.25
------------------------
1
------------------------
625
------------------------

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS! / CONGRATULATIONS! 🎉 </span> </b></center>