

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [1]:
liste = list()

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [4]:
liste5=[1,2,3,4,5,6]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [5]:
len(liste5)

6

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [9]:
print(liste5[0])
print(liste5[int(len(liste5)/2)])
print(liste5[-1])

1
4
6

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [11]:
mixed_data_types=["Bakhoum",28, 1.62 ,"Single","Fatick"]
print(mixed_data_types)

['Bakhoum', 28, 1.62, 'Single', 'Fatick']

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [18]:





it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies[-2]="maman_service"
print(it_companies)


it_companies.append("Informatic_computing")
print(it_companies)


it_companies.insert(int(len(it_companies)/2)+1, "BAKHBADE")
print(it_companies)

maj=it_companies[2].upper()
print(maj)



it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
maj="# ;".join(it_companies)
print(maj)


it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
if "Apple" in it_companies:
 print("Apple is around")
else:
 print("Apple is not around")


it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.sort()
print(it_companies)


it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.reverse()
print(it_companies)


it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[0:3]
print(it_companies)


it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[-3:]
print(it_companies)


it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[int(len(it_companies)/2)]
print(it_companies)



it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[0]
print(it_companies)


del it_companies[int(len(it_companies)/2)]
print(it_companies)



del it_companies[-1]
print(it_companies)


del it_companies[0:]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Facebook Apple Amazon
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'maman_service', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'maman_service', 'Amazon', 'Informatic_computing']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'BAKHBADE', 'maman_service', 'Amazon', 'Informatic_computing']
MICROSOFT
Facebook# ;Google# ;Microsoft# ;Apple# ;IBM# ;Oracle# ;Amazon
Apple is around
['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']
['Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Google', 'Facebook']
['Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Apple']
['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']
['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Google', 'Microsoft', 'Apple', 'Oracle', 'Amazon']
['Google', 'Microsoft', 'Apple', 'Oracle']
[]
[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [20]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [25]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages[0],ages[-1])

     #1.Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.

ages.extend([19,26])
print(ages)

     #2.Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
print(ages[int(len(ages)/2)])

      #3.Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
for i in range(len(ages)):
   ages.append(ages[i])
   x=sum(ages)
   print(int(x/len(ages)))
    
    #4.Trouver l'intervalle des âges (max moins min)
ages.sort()
print(ages[-1],ages[0])

      #5.Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().
import math
minmoy=19-22
maxmoy=26-22
abs(minmoy-maxmoy)

19 26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
24
22
22
22
22
22
22
22
22
22
22
22
22
26 19

7


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [8]:

#


#
#['Analysis', "Capacité d'adaptation", 'Créativité', 'Leadership'] <class 'list'>
#



#dict_keys(['prenom', 'nom', 'sexe', 'age', 'etat civil', 'competences', 'Pays', 'ville','adresse'])

#dict_values(['Leontine ', 'Bakhoum', 'F', 28, 'celibataire', ['Statistic', "Capacité d'adaptation", 'Prise de décision'], 'Senegal','Fatick', 'diam laye'])

#dict_items([('prenom', 'Leontine'), ('nom', 'Bakhoum'), ('sexe', 'F'), ('age', 28), ('etat civil', 'celibataire'), ('competences', ['Statistical', "Capacité d'adaptation", 'Prise de décision'], [('Pays', 'senegal'), ('ville','Fatick'), ('adresse', 'diam laye')])

   #{'prenom': 'Leontine', 'Nom': 'Bakhoum', 'sexe': 'F, 'age': 28, 'etat civil':'celibataire', 'Pays': 'Senegal', 'ville': 'Fatick', 'adresse': 'diam laye'}

{'name': 'Leontine', 'couleur': 'blue', 'race': 'noire', 'pattes': 2, 'ages': 28}
{'prenom': 'Leontine', 'nom': 'Bakhoum', 'sexe': 'F', 'age': 28, 'etat civil': 'celibataire', 'competences': ['Statistic', "Capacité d'adaptation", 'Créativité'], 'Pays': 'senegal', 'ville': 'Fatick', 'adresse': 'diam laye'}
9
['Statistic', "Capacité d'adaptation", 'Créativité'] <class 'list'>
['Statistic', "Capacité d'adaptation", 'Créativité', 'Prise de décision']
dict_keys(['prenom', 'nom', 'sexe', 'age', 'etat civil', 'competences', 'Pays', 'ville', 'adresse'])
dict_values(['Leontine', 'Bakhoum', 'F', 28, 'celibataire', ['Statistic', "Capacité d'adaptation", 'Créativité', 'Prise de décision'], 'senegal', 'Fatick', 'diam laye'])
{'prenom': 'Leontine', 'nom': 'Bakhoum', 'sexe': 'F', 'age': 28, 'etat civil': 'celibataire', 'Pays': 'Senegal', 'ville': 'Fatick', 'adresse': 'diam laye'}
[{'name': 'Leontine', 'couleur': 'blue', 'race': 'noire', 'pattes': 2, 'ages': 28}, {'prenom': 'Leontine', 'nom': 'Bakhoum', 'sexe': 'F', 'age': 28, 'etat civil': 'celibataire', 'Pays': 'Senegal', 'ville': 'Fatick', 'adresse': 'diam laye'}]
[{'prenom': 'Leontine', 'nom': 'Bakhoum', 'sexe': 'F', 'age': 28, 'etat civil': 'celibataire', 'Pays': 'Senegal', 'ville': 'Fatick', 'adresse': 'diam laye'}]

In [ ]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies)

In [ ]:
print(it_companies[0], it_companies[int(len(it_companies)/2)], it_companies[-1])

In [ ]:
#1. Créer un dictionnaire vide appelé dog
dog={}
#1. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
dog["name"]="Leontine"
dog["couleur"]="blue"
dog["race"]="noire"
dog["pattes"]=2
dog["ages"]=28
print(dog)

In [ ]:
1. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la
#ville et l'adresse comme clés pour le dictionnaire.
student={"prenom":"Leontine","nom":"Bakhoum","sexe":"F","age":28,"etat civil":"celibataire","competences":["Statistic","Capacité d'adaptation","Créativité"],"Pays":"senegal","ville":"Fatick","adresse":"diam laye"}
print(student)

In [ ]:
#1. Obtenez la longueur du dictionnaire student
print(len(student))

In [ ]:
#5.Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
print(student["competences"],type(student["competences"]))#

In [ ]:
#10. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
student["competences"].extend(["Prise de décision"])
print(student["competences"])

In [ ]:
#10. Obtenez les clés du dictionnaire sous forme de liste
print(student.keys())

In [ ]:
#12. Obtenir les valeurs du dictionnaire sous forme de liste
print(student.values())

In [ ]:
#Result=[*front_end,*back_end]
front_end.extend(back_end)
print(front_end)

In [ ]:
#13. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
student.items()

In [ ]:
#14. Supprimer un des éléments du dictionnaire
student={"prenom":"Leontine","nom":"Bakhoum","sexe":"F","age":28,"etat civil":"celibataire","competences":['Statistical', "Capacité d'adaptation", 'Prise de décision'], "Pays":"Senegal", "ville":"Fatick", "adresse":"diam laye"}
del student["competences"]
print(student)

In [ ]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.clear()
print(it_companies)

In [ ]:
#15. Supprimer un des dictionnaires
L=[dog,student]
print(L)
L.remove(dog)
print(L)

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>